# Final Project - PySpark

El enlace al repositorio es el siguiente: [GitHub](https://github.com/MiguelGG03/Final_Poject_PySpark.git)

Importamos la librer√≠a para hacer unas pruebas

In [2]:
from pyspark import SparkContext
from dask import dataframe as dd

In [6]:
df= dd.read_csv("air_traffic_data.csv", sep=";")
df.head()

  Activity Period,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,Adjusted Activity Type Code,Adjusted Passenger Count,Year,Month
0  200507,ATA Airlines,TZ,ATA Airlines,TZ,Domesti...
1  200507,ATA Airlines,TZ,ATA Airlines,TZ,Domesti...
2  200507,ATA Airlines,TZ,ATA Airlines,TZ,Domesti...
3  200507,Air Canada ,AC,Air Canada ,AC,Internati...
4  200507,Air Canada ,AC,Air Canada ,AC,Internati...

In [ ]:
%%writefile empiezo.txt
Esto es un archivo de texto
para probar el uso de Spark
en Jupyter