La primera tarea que llevaremos a cabo, consistirá en conocer con qué tipo de datos
contamos. Para ello, tendremos que categorizarlos según su estructura y presentarlos en la
siguiente plantilla

![plantilla](imgs/plantilla.png)

In [19]:
import dask.dataframe as dd

In [20]:
df1 = dd.read_csv("data/ABT_CALIDAD_AIRE.csv")
df2 = dd.read_csv("data/air_traffic_data.csv")

In [21]:
columnas = []
for col in df1.columns:
    columnas.append(col)
for col in df2.columns:
    columnas.append(col)

In [22]:
tipo = []
for col in df1.dtypes:
    tipo.append(col)
for col in df2.dtypes:
    tipo.append(col)

In [23]:
len(columnas) == len(tipo)

True

In [24]:
dict = {}
for col , tip in zip(columnas, tipo):
    dict[col] = tip
dict

{'id_pto_calidad': dtype('int64'),
 'nombre_estacion': dtype('O'),
 'ALTITUD': dtype('int64'),
 'tipo_estacion_id': dtype('O'),
 'fecha': dtype('O'),
 'Calidad_NO2': dtype('float64'),
 'Pto_trafico2': dtype('float64'),
 'Pto_trafico1': dtype('float64'),
 'Pto_trafico4': dtype('int64'),
 'Pto_trafico5': dtype('int64'),
 'Pto_trafico3': dtype('int64'),
 'Distancia_Pto_trafico2': dtype('float64'),
 'Distancia_Pto_trafico1': dtype('float64'),
 'Distancia_Pto_trafico4': dtype('float64'),
 'Distancia_Pto_trafico5': dtype('float64'),
 'Distancia_Pto_trafico3': dtype('float64'),
 'Intensidad_Pto_trafico1': dtype('float64'),
 'Intensidad_Pto_trafico2': dtype('float64'),
 'Intensidad_Pto_trafico3': dtype('float64'),
 'Intensidad_Pto_trafico4': dtype('float64'),
 'Intensidad_Pto_trafico5': dtype('float64'),
 'Carga_Pto_trafico2': dtype('float64'),
 'Carga_Pto_trafico1': dtype('float64'),
 'Carga_Pto_trafico4': dtype('float64'),
 'Carga_Pto_trafico5': dtype('float64'),
 'Carga_Pto_trafico3': dtype('float64'),
 'Intensidad_mediaR1_500': dtype('float64'),
 'Intensidad_mediaR2_500_750': dtype('float64'),
 'Intensidad_mediaR3_750_1000': dtype('float64'),
 'Intensidad_mediaR4_1000_1500': dtype('float64'),
 'Intensidad_mediaR5_1500_2000': dtype('float64'),
 'Intensidad_mediaR6_2000': dtype('float64'),
 'Intensidad_minR1_500': dtype('float64'),
 'Intensidad_minR2_500_750': dtype('float64'),
 'Intensidad_minR3_750_1000': dtype('float64'),
 'Intensidad_minR4_1000_1500': dtype('float64'),
 'Intensidad_minR5_1500_2000': dtype('float64'),
 'Intensidad_minR6_2000': dtype('float64'),
 'Intensidad_maxR1_500': dtype('float64'),
 'Intensidad_maxR2_500_750': dtype('float64'),
 'Intensidad_maxR3_750_1000': dtype('float64'),
 'Intensidad_maxR4_1000_1500': dtype('float64'),
 'Intensidad_maxR5_1500_2000': dtype('float64'),
 'Intensidad_maxR6_2000': dtype('float64'),
 'Carga_mediaR1_500': dtype('float64'),
 'Carga_mediaR2_500_750': dtype('float64'),
 'Carga_mediaR3_750_1000': dtype('float64'),
 'Carga_mediaR4_1000_1500': dtype('float64'),
 'Carga_mediaR5_1500_2000': dtype('float64'),
 'Carga_mediaR6_2000': dtype('float64'),
 'Carga_minR1_500': dtype('float64'),
 'Carga_minR2_500_750': dtype('float64'),
 'Carga_minR3_750_1000': dtype('float64'),
 'Carga_minR4_1000_1500': dtype('float64'),
 'Carga_minR5_1500_2000': dtype('float64'),
 'Carga_minR6_2000': dtype('float64'),
 'Carga_maxR1_500': dtype('float64'),
 'Carga_maxR2_500_750': dtype('float64'),
 'Carga_maxR3_750_1000': dtype('float64'),
 'Carga_maxR4_1000_1500': dtype('float64'),
 'Carga_maxR5_1500_2000': dtype('float64'),
 'Carga_maxR6_2000': dtype('float64'),
 'temp_c': dtype('float64'),
 'is_day': dtype('int64'),
 'wind_kph': dtype('float64'),
 'wind_degree': dtype('int64'),
 'wind_dir': dtype('O'),
 'pressure_mb': dtype('int64'),
 'precip_mm': dtype('float64'),
 'humidity': dtype('int64'),
 'cloud': dtype('int64'),
 'feelslike_c': dtype('float64'),
 'windchill_c': dtype('float64'),
 'heatindex_c': dtype('float64'),
 'dewpoint_c': dtype('float64'),
 'will_it_rain': dtype('int64'),
 'chance_of_rain': dtype('int64'),
 'will_it_snow': dtype('int64'),
 'chance_of_snow': dtype('int64'),
 'vis_km': dtype('float64'),
 'festivo': dtype('int64'),
 'anyo': dtype('int64'),
 'mes': dtype('int64'),
 'dia': dtype('int64'),
 'hora': dtype('int64'),
 'diasemana': dtype('int64'),
 'Activity Period': dtype('int64'),
 'Operating Airline': dtype('O'),
 'Operating Airline IATA Code': dtype('O'),
 'Published Airline': dtype('O'),
 'Published Airline IATA Code': dtype('O'),
 'GEO Summary': dtype('O'),
 'GEO Region': dtype('O'),
 'Activity Type Code': dtype('O'),
 'Price Category Code': dtype('O'),
 'Terminal': dtype('O'),
 'Boarding Area': dtype('O'),
 'Passenger Count': dtype('int64'),
 'Adjusted Activity Type Code': dtype('O'),
 'Adjusted Passenger Count': dtype('int64'),
 'Year': dtype('int64'),
 'Month': dtype('O')}

In [25]:
import pandas as pd

In [28]:
df = pd.DataFrame(dict,index=[0])
df = df.T
df.head()

                       0
id_pto_calidad     int64
nombre_estacion   object
ALTITUD            int64
tipo_estacion_id  object
fecha             object

In [31]:
df.columns = ['tipo']

In [32]:
df.head()

                    tipo
id_pto_calidad     int64
nombre_estacion   object
ALTITUD            int64
tipo_estacion_id  object
fecha             object

In [33]:
df.to_csv('data/cols_tipos.csv', index=True)